@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    overflow-x: hidden;
  }
  input {
    appearance: none;
  }
  button {
    cursor: pointer;
  }
  input,
  textarea {
    outline: none;
  }
  * {
    padding: 0;
    margin: 0;
  }
  .loader,
  .btn-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .btn-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-bottom-color: #ff3d00;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*Scroll Bar*/
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(236, 67, 52, 0.714);
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .login {
    transition: all 0.2s ease;
  }
  .login:focus {
    box-shadow: 5px 5px 3px 4px rgba(241, 185, 81, 0.954);
  }
  .sigin {
  }

  .fav-icon {
    animation: popItOne 0.5s forwards ease;
  }
  .love-icon {
    animation: popItTow 0.5s forwards ease;
  }

  @keyframes popItOne {
    0% {
      scale: 1.5;
      fill: gold;
    }

    90% {
      scale: 1;
      fill: gold;
    }
    100% {
      scale: 1;
      fill: none;
    }
  }
  @keyframes popItTow {
    0% {
      scale: 1.5;
      fill: #f5426c;
    }

    90% {
      scale: 1;
      fill: #f5426c;
    }
    100% {
      scale: 1;
      fill: none;
    }
  }
}
